#!/bin/bash
MYSQL_USER="{{MYSQL_USERNAME}}"
MYSQL_PASSWORD='{{MYSQL_PASSWORD}}'
MYSQL_HOST="{{MYSQL_HOST}}"
S3BUCKET="{{S3BUCKET}}"

log() {
    echo "$(date '+%Y-%m-%d %H:%M:%S') - $1" | tee -a /var/log/backup/backup.log
}

backup_db() {
    DB_NAME=$1
    FILE="/opt/backup/backups/${DB_NAME}_$(date '+%Y-%m-%d_%H-%M').sql"
    echo "Creating backup of DB: $DB_NAME from $MYSQL_HOST to file $FILE"
    mysqldump $DB_NAME -u$MYSQL_USER -p$MYSQL_PASSWORD -h$MYSQL_HOST > $FILE && log "Database $DB_NAME backed up to $FILE"
}

backup_table() {
    DB_NAME=$1
    TABLE_NAME=$2
    FILE="/opt/backup/backups/${DB_NAME}_${TABLE_NAME}_$(date '+%Y-%m-%d_%H-%M').sql"
    echo "Creating backup of DB: $DB_NAME TABLE: $TABLE from $MYSQL_HOST to file $FILE"
    mysqldump $DB_NAME $TABLE_NAME -u$MYSQL_USER -p$MYSQL_PASSWORD -h$MYSQL_HOST > $FILE && log "Table $TABLE_NAME from $DB_NAME backed up to $FILE"
}

create_archive() {
    ARCHIVE="/opt/backup/backups/$(date '+%Y-%m-%d_%H-%M')_backup.tar.gz"
    tar -czf $ARCHIVE -C /opt/backup/backups . --exclude backup && log "Archive created: $ARCHIVE"
    echo "Creating archive: $ARCHIVE"
    # Delete old backups
    rm -f /opt/backup/backups/*.sql
    log "Old SQL files deleted."
    echo "Pushing it to S3: $S3BUCKET/sql_backups/"
    #Upload to S3 bucket "{{S3BUCKET}}"
    aws s3 cp $ARCHIVE s3://{{S3BUCKET}}/sql_backups/"$(date '+%Y-%m-%d_%H-%M')_backup.tar.gz"

    #Removing archive from local folder
    rm -f $ARCHIVE
}

list_archives() {
    echo "Listing archive from S3: $S3BUCKET"
    aws s3 ls s3://{{S3BUCKET}}/sql_backups/ | awk '{printf "%-40s %-15s %-20s\n", $4, $3, $1" "$2}' | column -t
}

case "$1" in
    db) backup_db $2 ;;
    table) backup_table $2 $3 ;;
    archive) create_archive ;;
    list) list_archives ;;
    *)
        echo "Usage: backup {db <db_name>|table <db_name> <table_name>|archive|list}"
        ;;
esac
